\documentclass{article}
\input{Preambulo/preambulo}
\author{}
\date{}

\begin{document}
\input{Contenido/Inicio}
\input{Contenido/Cuerpo/index}
\input{Contenido/Referencias}
\input{Contenido/Firmas/index}
\input{Contenido/Anexos/index}
\end{document}
