% Cuerpo del informe: agrega secciones con \input
% Ejemplo de cambio de orientación:
% \UseLayout{landscape}
% \input{Contenido/tables/tabla_01.tex}
% \RestoreLayout

\input{Contenido/Cuerpo/01_Introduccion}
\input{Contenido/Cuerpo/02_Objetivos}
\input{Contenido/Cuerpo/03_Desarrollo}
\input{Contenido/Cuerpo/04_AccionesMejoraContinua}
