
$gray:rgba(200,20,20,0.5);
$col-header:rgb(0, 10, 50, 0.9);
$col-edit:rgba(50, 150,200,0.7);
$col-delete:rgba(255, 50, 50, 0.8);
$col-hover:rgba(100, 100, 100, 0.5);
$col-selected:rgba(200, 200, 200, 0.5);
$col-info:rgba(0, 110, 220, 0.1);