% Portada / encabezado del informe
\begin{center}
\Large\titulo\\
\end{center}

\noindent
\large
\begin{tblr}{
  colspec = {Q[l,m,2.5cm] Q[l,m,9cm] Q[r,m,3cm]},
  rows = {m}
}
\textbf{Carrera:} & \carrera & \textbf{Semestre:} \semestre \\
\textbf{Coordinador:} & \coordinador & \\
\end{tblr}

\renewcommand{\arraystretch}{1.5}
\noindent
