{
\SetTblrTemplate{caption}{empty}
\begin{longtblr}{
colspec={Q[c,m,5cm] Q[c,m,4.75cm] Q[c,m,5cm]},
rowhead={1},
vlines,
row{1}={font=\bfseries},
row{2-8}={l}
}
\hline
\textbf{ELABORADO POR:} & \textbf{REVISADO POR:} & \textbf{APROBADO POR:} \\ \hline
Firma: & Firma: & Firma:\\
\textcolor{white}{\firmaElaboradoToken} & \textcolor{white}{\firmaRevisadoToken} & \textcolor{white}{\firmaAprobadoToken}\\
&&\\
&&\\ \hline
\textbf{Nombre: }\nombreElaborado & \textbf{Nombre: }\nombreRevisado & \textbf{Nombre: }\nombreAprobado \\ \hline
\textbf{Cargo: }\cargoElaborado & \textbf{Cargo: }\cargoRevisado & \textbf{Cargo: }\cargoAprobado \\ \hline
\textbf{Fecha: }\fechaElaborado & \textbf{Fecha: }\fechaRevisado & \textbf{Fecha: }\fechaAprobado \\ \hline
\end{longtblr}
}
